<h1>lets add a new animal</h1>

<h3>please add in the information for the new animal</h3>

<form action="/new" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">

  <label for="gender">Gender</label>
  <input id="gender" name="gender" type="text">

  <label for="checkin">Check-in date</label>
  <input id="Checkin" name="checkin" type="text">

  <label for="breed">Breed</label>
  <input id="breed" name="breed" type="text">


  <button type="submit">Submit</button>
</form>
